# =============================================================================
# OAuth2 Proxy Ingress
# =============================================================================
# Main auth endpoint at auth.nerine.dev
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: oauth2-proxy
  namespace: utilities
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`auth.nerine.dev`)
      kind: Rule
      services:
        - name: oauth2-proxy
          port: 4180
      middlewares:
        - name: security-headers
          namespace: traefik
  tls: {}
