Servers/*

Logs/

.venv*/

.env*
!.env*.example
mise.local.toml
.mise.local.toml
mise.local.lock
.mise.local.lock

# Deploy
.ansible/
.private/

# Act
.secrets
.vars

/Config/

charts/
.terraform.tfstate.lock.info
terraform.tfstate*
.bw-provider-state
.direnv/
