Servers/*

Logs/

.venv*/

.env*
!.env*.example
!.envrc

# Deploy
.ansible/
.private/

# Act
.secrets
.vars

/Config/

charts/
.terraform.tfstate.lock.info
terraform.tfstate*
.bw-provider-state
.direnv/
