defaults
    mode tcp

frontend http
    bind *:80
    default_backend servers-http

frontend https
    bind *:443
    default_backend servers-https

backend servers-https
    server server1 nickel:443 send-proxy-v2

backend servers-http
    server server1 nickel:80 send-proxy-v2
