defaults
    mode tcp

frontend http
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }

frontend https
    bind *:443
    default_backend servers

backend servers
    server server1 media:443 send-proxy-v2