# =============================================================================
# AdGuard Home Service
# =============================================================================
apiVersion: v1
kind: Service
metadata:
  name: adguard
  namespace: home
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3000
      targetPort: http
    - name: dns-tcp
      port: 53
      targetPort: dns-tcp
      protocol: TCP
    - name: dns-udp
      port: 53
      targetPort: dns-udp
      protocol: UDP
  selector:
    app: adguard
