apiVersion: batch/v1
kind: CronJob
metadata:
  name: recyclarr
  namespace: media
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - image: ghcr.io/recyclarr/recyclarr:8.2
              name: recyclarr
              args:
                - sync
              env:
                - name: RADARR_API_KEY
                  valueFrom:
                    secretKeyRef:
                      key: api-key
                      name: radarr-api-key
                - name: SONARR_API_KEY
                  valueFrom:
                    secretKeyRef:
                      key: api-key
                      name: sonarr-api-key
              volumeMounts:
                - mountPath: /config/configs
                  name: recyclarr-config
          restartPolicy: OnFailure
          volumes:
            - name: recyclarr-config
              configMap:
                name: recyclarr-config
