# =============================================================================
# Bazarr Ingress (Protected by OAuth2 Proxy)
# =============================================================================
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: bazarr
  namespace: media
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`bazarr.nerine.dev`)
      kind: Rule
      services:
        - name: bazarr
          port: 6767
      middlewares:
        - name: public-chain
          namespace: traefik
        - name: oauth2-proxy
          namespace: traefik
  tls:
    certResolver: letsencrypt
