# =============================================================================
# Prowlarr Service
# =============================================================================
apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: media
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9696
      targetPort: http
  selector:
    app: prowlarr
