# =============================================================================
# Radarr Ingress (Protected by OAuth2 Proxy)
# =============================================================================
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr
  namespace: media
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`radarr.nerine.dev`)
      kind: Rule
      services:
        - name: radarr
          port: 7878
      middlewares:
        - name: public-chain
          namespace: traefik
        - name: oauth2-proxy
          namespace: traefik
  tls:
    certResolver: letsencrypt
